@model IEnumerable<TrainingSystem.API.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

@if (User.IsInRole("TrainingCoordinator"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Course</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Capacity</th>
            <th>Fee</th>
            <th>Prerequisite</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Category?.CategoryName</td>
                <td>@item.DurationHours hrs</td>
                <td>@item.DefaultCapacity</td>
                <td>@item.EnrollmentFee</td>
                <td>@item.PrerequisiteCourse?.Title</td>

                <td>
                    @if (User.IsInRole("TrainingCoordinator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                    }
                    else if (User.IsInRole("Trainee"))
                    {
                        <a asp-controller="Enrollments" asp-action="Create" asp-route-courseId="@item.CourseId"
                           class="btn btn-success btn-sm">Enroll</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>