@model IEnumerable<TrainingSystem.API.Models.Enrollment>

<h2>My Enrollments</h2>

@if (TempData["Error"] != null)
{
    <p style="color:red">@TempData["Error"]</p>
}

<table class="table table-bordered">
    <tr>
        <th>Course</th>
        <th>Status</th>
        <th>Balance</th>
        <th>Actions</th>
    </tr>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Session.Course.Title</td>
            <td>@e.Status</td>
            <td>@e.OutstandingBalance</td>

            <td>
                @if (e.Status == "Enrolled")
                {
                    <a asp-action="Drop" asp-route-id="@e.EnrollmentId" class="btn btn-danger btn-sm">Drop</a>
                }

                @if (e.Status == "Enrolled")
                {
                    <a asp-action="Confirm" asp-route-id="@e.EnrollmentId" class="btn btn-success btn-sm">Confirm</a>
                }
            </td>
        </tr>
    }
</table>