@model IEnumerable<TrainingSystem.API.Models.Certificate>

@{

    ViewData["Title"] = "My Certificates";

}
<h1>My Certificates</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Certificate ID</th>
            <th>Reference Number</th>
            <th>Status</th>
            <th>Issued Date</th>
            <th>Track Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var certificate in Model)

        {
            <tr>
                <td>@certificate.CertificateId</td>
                <td>@certificate.CertificateReferenceNumber</td>
                <td>@certificate.CertificateStatus</td>
                <td>@certificate.IssuedDate</td>
                <td>@certificate.CertificationTrack?.TrackName</td>
            </tr>

        }
    </tbody>
</table>
