@model IEnumerable<TrainingSystem.API.Models.Payment>

@{
    ViewData["Title"] = "Payments";
}

<h2>Payments</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Amount Paid</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Enrollment?.User?.Name</td>
                <td>@item.Enrollment?.Session?.Course?.Title</td>
                <td>@item.AmountPaid</td>

                <td>
                    <span class="badge
                        @(item.PaymentStatus == "Paid" ? "bg-success" :
                                                item.PaymentStatus == "Partial" ? "bg-warning" : "bg-danger")">
                    @item.PaymentStatus
                </span>
            </td>

                <td>@item.PaidDate</td>
            </tr>
                }
    </tbody>
</table>