@model IEnumerable<TrainingSystem.API.Models.InstructorExpertise>
@using System.Security.Claims

@{
    var roleId = Context.Session.GetInt32("RoleId");
    var targetUserId = ViewBag.TargetUserId;
}

<div class="container py-5">

    <div class="d-flex justify-content-between mb-4">
        <h2>Expertise</h2>

        @if (roleId == 3)
        {
            <a href="/Instructor" class="btn btn-outline-secondary mb-3">
                Back to Instructors
            </a>
        }
        <!-- ADD -->
        <a asp-action="Create"
           asp-route-userId="@targetUserId"
           class="btn btn-primary">
            Add Expertise
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Expertise</th>
                @if (roleId == 3)
                {
                    <th class="text-center">Actions</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Expertise?.ExpertiseName</td>

                    <td class="text-center">

                        @if (roleId == 3)
                        {
                            <a asp-action="Edit"
                               asp-route-id="@item.InstructorExpertiseId"
                               asp-route-userId="@targetUserId"
                               class="btn btn-warning btn-sm">
                                Edit
                            </a>

                            <a asp-action="Delete"
                               asp-route-id="@item.InstructorExpertiseId"
                               asp-route-userId="@targetUserId"
                               class="btn btn-danger btn-sm">
                                Delete
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>