@model TrainingSystem.API.Models.CertificationTrackCourse

<h2>Edit Track Course</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" name="trackId" value="@Model.CertificationTrackId" />
    <input type="hidden" name="courseId" value="@Model.CourseId" />

    <div class="mb-3">
        <label>Course</label>
        <select name="newCourseId" class="form-control">
            @foreach (var c in ViewBag.Courses)
            {
                <option value="@c.CourseId"
                        selected="@(c.CourseId == Model.CourseId)">
                    @c.Title
                </option>
            }
        </select>

    </div>
    <div class="mb-3">
        <label>Track</label>
        <input class="form-control"
               value="@Model.CertificationTrack?.TrackName"/>
    </div>

    <div class="form-check mb-3">
        <input type="checkbox"
               name="isRequired"
               value="true"
               class="form-check-input"
               id="isRequired"
               @(Model.IsRequired ? "checked" : "") />
        <label class="form-check-label" for="isRequired">Required</label>
    </div>

   
    <div class="mt-3">
        <button type="submit" class="btn btn-warning">Update</button>

        <a asp-action="Index" class="btn btn-secondary ms-2">
            Cancel
        </a>
    </div>
</form>